{% extends 'base.html.twig' %}

{% block body %}
    {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR'))%}

        <div class="container">
            {{ form(form) }}
        </div>
        
    {% else %}

        <p>Access denied</p>

    {% endif %}
{% endblock %}