{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .jumbotron {
            max-width: 50%;
        }
    </style>

    <div align="center">
        <div class="jumbotron">
            {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR')) %}
                {% if categories %}
                    <ul>
                        {% for category in categories %}
                            <li>
                                {{ category.name }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No categories can be found</p>
                {% endif %}
                <a href={{ path('category') }}>
                    <button type="button" class="btn btn-dark">Add category</button>
                </a>
            {% else %}
                <p>Access denied</p>
            {% endif %}

        </div>


    </div>
{% endblock %}
