{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .jumbotron {
            max-width: 50%;
        }

        @media (max-width: 575px) {
            .jumbotron {
                max-width: 100%;
            }
        }
    </style>

    {% include 'navbar.html.twig' %}

    <div class="mt-5" align="center">
        <div class="jumbotron">
            {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR')) %}
                {% if categories %}
                    <ul class="list-group">
                        {% for category in categories %}
                            <li class="list-group-item">
                                {{ category.name }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No categories can be found</p>
                {% endif %}
                <a type="button" class="btn btn-secondary mt-3" href="{{ path('category') }}">Add category</a>
            {% else %}
                <p>Access denied</p>
            {% endif %}

        </div>


    </div>
{% endblock %}
