{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .jumbotron {
        max-width: 50%;
    }
</style>

<div align="center">
    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <hr class="my-4"/>
        <a class="btn btn-primary btn-lg" href="{{ path('homeroute') }}">Proceed to the Homepage</a>
    </div>
</div>
{% endblock %}
